@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

$base-font-size: 15px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $Transparent-white;
}

.container {
  min-height: 100vh;
  background-color: $Very-light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 960px;
  width: 100%;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  #item-1 {
    background-color: $Bright-orange;
    border-radius: 1rem 0 0 1rem;
  }
  #item-2 {
    background-color: $Dark-cyan;
  }
  #item-3 {
    background-color: $Very-dark-cyan;
    border-radius: 0 1rem 1rem 0;
  }
  .card-item {
    padding: 2.75rem 3.5rem 2.75rem 2.75rem;
    .title {
      margin: 2rem 0;
      font-size: 2.25rem;
      font-family: "Big Shoulders Display", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }
    .des,
    .button {
      font-family: "Lexend Deca", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    .button {
      margin-top: 5rem;
      background-color: $Very-light-gray;
      color: transparent;
      display: inline-block;
      border-radius: 5rem;
      padding: 1rem 2rem;
      cursor: pointer;
      border: 2px solid $Very-light-gray;
      color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
    #btn-1 {
      color: $Bright-orange;
      &:hover {
        color: $Very-light-gray;
      }
    }
    #btn-2 {
      color: $Dark-cyan;
      &:hover {
        color: $Very-light-gray;
      }
    }
    #btn-3 {
      color: $Very-dark-cyan;
      &:hover {
        color: $Very-light-gray;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    #item-1 {
      border-radius: 1rem 1rem 0 0;
    }
    #item-3 {
      border-radius: 0 0 1rem 1rem;
    }
  }
}
