@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(255, 255, 255, 0.75);
}

.container {
  min-height: 100vh;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  max-width: 960px;
  width: 100%;
  margin: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.card #item-1 {
  background-color: #e38826;
  border-radius: 1rem 0 0 1rem;
}

.card #item-2 {
  background-color: #006970;
}

.card #item-3 {
  background-color: #004241;
  border-radius: 0 1rem 1rem 0;
}

.card .card-item {
  padding: 2.75rem 3.5rem 2.75rem 2.75rem;
}

.card .card-item .title {
  margin: 2rem 0;
  font-size: 2.25rem;
  font-family: "Big Shoulders Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card .card-item .des,
.card .card-item .button {
  font-family: "Lexend Deca", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card .card-item .button {
  margin-top: 5rem;
  background-color: #f2f2f2;
  color: transparent;
  display: inline-block;
  border-radius: 5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 2px solid #f2f2f2;
  color: transparent;
}

.card .card-item .button:hover {
  background-color: transparent;
}

.card .card-item #btn-1 {
  color: #e38826;
}

.card .card-item #btn-1:hover {
  color: #f2f2f2;
}

.card .card-item #btn-2 {
  color: #006970;
}

.card .card-item #btn-2:hover {
  color: #f2f2f2;
}

.card .card-item #btn-3 {
  color: #004241;
}

.card .card-item #btn-3:hover {
  color: #f2f2f2;
}

@media screen and (max-width: 650px) {
  .card {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .card #item-1 {
    border-radius: 1rem 1rem 0 0;
  }
  .card #item-3 {
    border-radius: 0 0 1rem 1rem;
  }
}
