@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
$blue:hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);
$main-bg:hsl(217, 54%, 11%);
$card-bg:hsl(216, 50%, 16%);
$line:hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit";
}

.container {
    min-height: 100vh;
    background-color: $main-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: $card-bg;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 0 1rem;
}
.eter-img {
    border-radius: 1rem;
    max-width: 302px;
    width: 100%;   
    margin: 0 auto;
}

.cost-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.cost-box-right,.cost-box-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    max-width: 302px;
    
    margin: 1.25rem 0;
}

h6 {
    font-size: 16px;
    margin-left: 0.5rem;
}

h1 {
    margin-top: 1.25rem;
    font-size: 20px;
}

h1,span {
    color: $white;
}

.text-day {
    font-size: 16px;
}

p,.text-day {
    color: $blue;
    font-size: 18px;
}

.text-money {
    color: $cyan;
}

.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.25rem;
}

.avatar {
    width: 35px;
    border: 2px solid $white;
    border-radius: 50%;
    margin-right: 1rem;
}

hr {
    background-color: $line;
    border: none;
    height: 1px;
}