@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin";
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  // background-color: red;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;    
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

section {
  text-align: center;
}

.content {
  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: $gray;
  }
  span {
    font-weight: 700;
    color: $dark-blue;
  }
  p {
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    font-size: 1.2rem;
    color: $dark-blue;
  }
}

.form {
  input {
    width: 400px;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: 1px solid $gray;
  }
  button {
    margin-left: 0.75rem;
    padding: 1rem 3rem;
    background-color: $blue;
    border: 0;
    color: white;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

.img {
  margin-top: 2rem;
  padding: 1rem;
  img {
    max-width: 700px;
    width: 100%;
  }
}

footer {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 2rem;
  .icon {
      a {
          margin: 0.5rem;
      }
      i {
          border: 1px solid $gray;
          padding: 0.75rem;
          border-radius: 50%;
          color: $blue;
        //   width: 24px;
        //   height: 24px;
      }
  }
  .copyright {
    margin-top: 1.5rem;
  }
}
