@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #674baf;
  padding: 3.5rem 5rem;
  overflow: hidden;
}

.container .box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

.content .content-left {
  margin-right: 3.75rem;
}

.content .content-left .image {
  max-width: 710px;
}

.content .content-right .title {
  font-family: "Poppins";
  color: white;
  font-weight: 600;
  font-size: 2.25rem;
}

.content .content-right .des {
  font-family: "Open Sans";
  color: white;
  margin: 2rem 0;
}

.content .content-right .button {
  font-family: "Open Sans";
  background-color: white;
  color: #674baf;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.content .content-right .des,
.content .content-right .button {
  font-size: 1.25rem;
}

.content .content-right .button {
  -webkit-box-shadow: 8px 8px 30px black;
          box-shadow: 8px 8px 30px black;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.social img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid white;
  padding: 1.25rem;
  margin: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
  }
  .content .content-left {
    margin-right: 0;
  }
  .content .content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 900px;
    width: 100%;
  }
  .content .content-right .title {
    margin-top: 3rem;
  }
  .content .content-right .title,
  .content .content-right .des {
    text-align: center;
  }
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .content-left .image {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    background: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #674baf;
    padding: 2rem;
  }
}
