@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1b1938;
  border-radius: 1.25rem;
}

.card .card-left {
  max-width: 540px;
  width: 100%;
  padding: 4.5rem 6rem 4.5rem 4.5rem;
}

.card .card-left .card-left-content .title {
  color: white;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.01em;
}

.card .card-left .card-left-content .title span {
  color: #aa5cdb;
}

.card .card-left .card-left-content .des {
  font-family: "Lexend Deca";
  font-size: 15px;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.02em;
  line-height: 1.5rem;
}

.card .card-left .card-left-content .stat {
  margin-top: 4rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-transform: uppercase;
}

.card .card-left .card-left-content .stat h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.5rem;
}

.card .card-left .card-left-content .stat p {
  margin-top: 0.25rem;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.card .card-right .image {
  height: 100%;
  border-radius: 0 1.25rem 1.25rem 0;
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #aa5cdb);
          filter: opacity(0.5) drop-shadow(0 0 0 #aa5cdb);
}

@media screen and (max-width: 1100px) {
  .card {
    max-width: 540px;
    width: 100%;
    margin: 2rem 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card .card-left {
    padding: 2rem;
  }
  .card .card-left .card-left-content {
    text-align: center;
  }
  .card .card-left .card-left-content .stat {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .card-left .card-left-content .stat div {
    margin: 2rem;
  }
  .card .card-right .image {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
  }
}
